<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Ticket Mart</title>
        
        <link href="../stylesheets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    </head>
    <body>
        <style type="text/css">
            .concert-price {
                color: dodgerblue;
            }
            .artist-name {
                font-weight: bold;
                font-size: 17px;
            }
            .concert-description {
                padding: 10px; 
                border: 1px solid whitesmoke;
                width: 300px;
                height: inherit;
                text-align: left;
                color: gray;
            }
            .title-search-button {
                background: white;
                color: black;
                border: 1px solid white;
                border-radius: 3px;
                height: 40px;
                opacity: 0.7;
            }
            .title-search-button:hover {
                background: whitesmoke;
            }
            .title-search-box {
                padding: 5px;
                height: 40px;
                width: 350px;
            }
            .title-name {
                font-size: 80px;
                color: white;
            }
            .title {
                position: relative;
                top: 70px;
                text-align: center;
            }
            img {
                margin-left: auto;
                margin-right: auto;
            }
            .banner {
                background-image: url("../images/concert_img4.jpg");
                width: 100%;
                height: 500px;
                /* background: black; */
                color: white;
            }
            h3 {
                font-weight: bold;
            }
            .jumbotron{
                background-color: rgba(250, 236, 113, 0.575);
                text-shadow: black 0.2em 0.2em 0.2em;
                font-weight: bold;
                color: white;
            }
            
        </style>
        <nav class="navbar navbar-default" style="background: white;">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle ="collapse" data-target= "#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/"><font style="font-weight: bold; font-size: 30px;   color: black">Ticket MarT</font></a>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a href="/ticketlist">티켓목록<span class="sr-only"></span></a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                    <% if(!user) { %>
                        <li><a href="/auth/login">로그인</a></li>
                        <li><a href="/auth/register">회원가입</a></li>
                    <% } else { %>
                        <li><a><font style="font-weight: bold; font-size: 20px;">&nbsp;<%= user.displayName %>님</font></a></li>
                        <li><a href="/mypage">마이페이지</a></li>
                        <li><a href="/auth/logout">로그아웃</a></li>
                    <% } %>
                    </ul>
                </div>
            </div>
            <div class="banner">
                <div class="title">
                    <h1 class="title-name">Ticket MarT</h1>
                    <br/><br/><br/><br/><br/><br/><br/><br/>
                    <h3 class="title-description">암표 방지 티켓팅 사이트</h3>
                    <input class="title-search-box" placeholder="콘서트, 아티스트">
                    <button class="title-search-button">검색</button>
                </div>
            </div>
        </nav>

        <!-- <div class="container" style="display:none;">
            <div class="jumbotron">
                <h1 class="text-left">티켓 Market</h1>
                <h3 class="text-left">암표 방지 티켓팅 사이트</h3>
                <p class="text-left">올바른 티켓팅 문화, 우리가 만들어가요!</p>
                <p class="text-left"><a href="/ticketlist" class="btn btn-link btn-lg" role="button"><font style="color: black;  text-shadow: blue 0.01em 0.01em 0.01em; font-weight: bold; font-size: 20px;"><span class="glyphicon glyphicon-time">&nbsp;티켓예약하기</span></font></a></p>
            </div>
        </div> -->

        <!-- <div class="banner">
            <div class="title">
                <h1 class="title-name">Ticket MarT</h1>
                <br/><br/><br/><br/><br/><br/><br/><br/>
                <h3 class="title-description">암표 방지 티켓팅 사이트</h3>
                <input class="title-search-box" placeholder="콘서트, 아티스트">
                <button class="title-search-button">검색</button>
            </div>
        </div> -->

        <br/>

        <div class="container">
            <h3>최신 Concert</h3>
        </div>

        <div class="container">
            <br/>
            <div id="myCarousel" class="carousel slide" style=" width: 720; height: 400;">
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                </ol>

                <!-- Carousel items -->
                
                <div class="carousel-inner ">

                    <div class="active item concert" >
                        <a href="/ticketcontent/<%= ticketId=1 %>">
                        <img class="concertImg" src="../images/melo_c.jpg" alt="" style="width:1140px; height: 420px;">
                        <div class="carousel-caption">
                            <h4 style="text-align: right">
                            <!-- <span class="concertNm"><font style="vertical-align: inherit;", color="black">멜로망스</font></h4></span>
                            <p class="concertDesc" style="text-align: right;">
                                멜로망스 콘서트.
                            </p> -->
                        </div>
                    </div>

                    <div class="item concert" >
                        <a href="/ticketcontent/<%= ticketId=2 %>">
                        <img class="concertImg" src="../images/IU_c.jpg" alt="" style="width:1140px; height: 420px;">
                        <div class="carousel-caption">
                            <!-- <span class="concertNm"><h4 style="text-align: right"><font color="black">아이유</font></h4></span>
                            <p class="concertDesc" style="text-align: right;">
                                아이유 콘서트입니다.
                            </p> -->
                        </div>
                    </div>
    
                    <div class="item concert" >
                        <a href="/ticketcontent/<%= ticketId=3 %>">
                        <img class="concertImg" src="../images/parkhyosin2.jpg" alt="" style="width:1140px; height: 420px;">
                        <div class="carousel-caption">
                            <!-- <span class="concertNm"><h4 style="text-align: right"><font color="black">브라운아이드소울</font></h4></span>
                            <p class="concertDesc" style="text-align: right;">
                                Brown Eyed Soul 콘서트.
                            </p> -->
                        </div>
                    </div>
                    
                </div>
                

                <!-- Carousel nav -->
                <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#myCarousel" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    <span class="sr-only">Next</span>
                </a>

            </div>
        </div>

        <br>

        <!-- <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h4>티켓 Market 소개</h4>
                    <p>현재 야구 경기장 입장권의 뒷거래로 26만원, 아이돌 콘서트 암표가격 100만원까지도 거래가 되며 암표 거래 방지 청와대 국민 청원이 올라와 있다. <br>순수하게 즐기기 위한 공연이 소수의 이익을 원하는 집단에 의해서 돈벌이 수단으로 변질이 되고 있다.<br> 이런 암표거래를 방지하기 위해 간단한 카메라를 활용해 회원을 사진으로 구분하여 완전한 티켓팅 서비스가 필요하다고 생각해서 카메라 모듈을 활용한 암표방지 시스템을 기획하게 되었다.</p>
                    <p><a class="btn btn-default" data-target="#modal" data-toggle="modal">자세히 보기</a></p>
                </div>
                <div class="col-sm-6">
                    <h4>티켓 Market 기대효과</h4>
                    <p> 1. 효율적인 암표방지 : 암표 매매를 일일이 단속할 필요가 없어져 효율적인 암표 예방 가능<br>
                    2. 티켓관리 편의성 : 회원의 얼굴을 비교함으로써 티켓에 대한 필요성이 없어짐<br>
                    3. 입장시간 단축 : 입장시 그룹으로 묶어 카메라로 검사하여 시간을 월등히 단축<br>
                    4. 서비스 확장성 : 얼굴인식 기능이 필요한 다양한 서비스에 적용 가능</p>
                    <p><a class="btn btn-default" href="/ticketlist">지금 예약하러가기</a></p>
                </div>
            </div>
        </div> -->

        <hr/>

        
        <div class="container">
            <h3>K-POP Concert</h3>

        </div>
        <br/>

        <div class="container">
            <div class="row">
                
                <div class="col-sm-3 ">
                    <a href="/ticketcontent/<%= ticketId=1 %>">
                        <img src="../images/melomance_list.jpg" width="300px" height="300px">
                    </a>
                    <div class="concert-description">
                        <span class="artist-name">멜로망스</span>
                        <br/>
                        <span class="concert-name">DAN CONCERT</span>
                        <br/>
                        <span class="concert-location">강릉시 경강로 2046번길 5</span>
                        <br/>
                        <br/>
                        <span>최저가격:</span>
                        <span class="concert-price">9,900원</span>
                    </div>
                </div>
            
            
                <div class="col-sm-3 col-sm-offset-1">
                    <a href="/ticketcontent/<%= ticketId=2 %>">
                        <img src="../images/IU_list.jpg" width="300px" height="300px">
                    </a>
                    <div class="concert-description">
                        <span class="artist-name">아이유</span>
                        <br/>
                        <span class="concert-name">이지금 CONCERT</span>
                        <br/>
                        <span class="concert-location">부산 사직실내체육관</span>
                        <br/>
                        <br/>
                        <span>최저가격:</span>
                        <span class="concert-price">45,000원</span>
                    </div>
                </div>
            
            
                <div class="col-sm-3 col-sm-offset-1">
                    <a href="/ticketcontent/<%= ticketId=3 %>">
                        <img src="../images/parkhyosin_list.jpg" width="300px" height="300px">
                    </a>
                    <div class="concert-description">
                        <span class="artist-name">박효신</span>
                        <br/>
                        <span class="concert-name">So Happy Together Concert</span>
                        <br/>
                        <span class="concert-location">Olympic Park</span>
                        <br/>
                        <br/>
                        <span>최저가격:</span>
                        <span class="concert-price">89,000원</span>
                    </div>
                </div>
                
            </div>
          </div>

        <br>

        <footer style="background-color: rgb(236, 236, 236); color: dark;">
            <div class="container">
                <br>
                
                <div class="row">
                    <div class="col-sm-2">
                        <h5>Copyright &copy; 2018</h5>
                    </div>
                    <div class="col-sm-4">
                        <h5>Introduce</h5>
                        <p>현장 암표를 예방한 티켓팅하는 페이지입니다. <br>
                        안전한 티켓문화 권장합니다.</p>
                    </div>
                </div>

                <br>
            </div>
        </footer>

        <!-- <div class="row">
            <div class="modal" id="modal" tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            티켓 Market 소개
                            <button class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body" style="text-align: left;">
                        ㅇ 구매자의 사진과 입장객의 얼굴 비교를 통한 암표 방지<br><br>
                        - 공연예매 사이트의 활용할 수 있는 기술을 기획했다. <br><br>기획 기술은 각 회원의 사진을 활용한 기술이다. 티켓팅 사이트라는 점을 감안해서 회원가입을 받을 때 고객의 사진 정보를 회원가입의 필수 요소로 받는다. 그 사진 정보를 데이터베이스에 보관한다. 이 저장된 사진 정보는 티켓팅 사이트가 공연을 공지하고, 고객이 공연을 구매했을 때, 그 공연 정보의 데이터베이스로 고객의 사진 정보가 전송된다.  <br><br>
                        - 사진 정보의 활용은 마이크로소프트의 사진 API 기술을 활용한다.<br> MS가 제공하는 사진 API는 사진과 사진을 비교해서 그 사진의 일치정도를 % 퍼센트로 제공하는 기술이다. 이 기술을 이용하기 위해 현장에서 카메라 모듈로 예매한 고객의 사진을 찍고, 이 전에 저장된 고객 사진과 일치/불일치를 비교한다. <br><br>
                        - 현재 회원이 암표가 아닌, 자신이 구매한 표라는 걸 분석해주는 임베디드 시스템을 기획했다. <br>이 기술을 활용해서는 아무리 매크로 프로그램으로 예매를 한들, 현장에서 정보가 일치하지 않으면 입장이 제한된다. 이러한 아이템의 기획으로 시장형성의 암적 요소인 암표시장을 방지하고, 순수한 팬의 기대를 저버리지 않는 서비스를 제공한다.
                        </div>
                    </div>
                </div>
            </div>
        </div> -->

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script src="../stylesheets/vendor/bootstrap/js/bootstrap.min.js"></script>
        <script>
            $(function(){
                $('.carousel').carousel({
                    interval: 2500
                });

                $(document).on('click', '.concert', function(){
                    // $(this).
                });
            });
            

        </script>
    </body>
</html>
